@import  url(https://fonts.googleapis.com/css?family=Megrim);

html, body {margin: 0; height: 100%; overflow: hidden}
.window {
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  text-align:center;
  background-color: #212121;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  /* overflow-x:auto; */
}


.Form_Tamplate {
  height: 1900px;
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}

.Form_Tamplate .Warp_Form_Box {
  margin: 0 0 24px;
  z-index: 2;
}

.Form_Tamplate .Warp_Form_Box input {
  width: 100%;
  padding: 14px 16px;
  border: 2px solid gray;
  background: transparent;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  border-color: #9ecaed;
  box-shadow: 0 0 6px #9ecaed;

  
}
.Form_Tamplate .Warp_Form_Box input:focus {
  border-color: none;
  box-shadow: none;
}

.Form_Tamplate .Warp_Btn_Box {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  border: 2px solid #212121;
  outline: none;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
}
.Form_Tamplate .Warp_Btn_Box:hover
{
  background:0;
  background: linear-gradient(90deg, #020024 20%, #00d4ff 80%, #020024 20%);
}
.Form_Tamplate label{
  font-size: 13px;
  color: red;
  float:left;
  /*margin-right: -60px;*/
  margin-right: -60px;
  border: 1px solid rgb(159, 58, 58);
}

/* new*/
.image-layer{
	position:fixed;
	left:0;
	top:0;
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
  /*filter: brightness(0.67);*/
}
#Home_window_header
 {
  /*margin-right: -140px;*/
	padding: 0;
  font-family: 'Megrim', cursive;
  font-size: 66px;
	color: yellow;
	/*text-align: center;*/
  font-weight: bold;
  position: relative;
  animation: mymove 5s ;
  animation-delay: -1s;
  }
  @keyframes mymove {
    from {right: 340px;}
    to {right: 0px;}
  }

  /*new*/
  .ui-widget-header,.ui-state-default, ui-button {
    background:#b9cd6d;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
 }

 .Home_Btn{
    font-size:24px;
    margin-top: 160px;
    margin-right: -150px;
    color: #f3eaea;
    background-color: black;
    border:1px;
    border-color: #9ecaed;
    box-shadow: 0px 0px 13px white; 
 }
 .Home_Btn:hover{
  border-color: #9ecaed;
  box-shadow: 0px 0px 25px #8eccfe; 
}
#Warp_Home_Btn{
  position: relative;
  animation: Home_Btn_Move 5s ;
  animation-delay: -1s;
}
@keyframes Home_Btn_Move {
  from {left: 340px;}
  to {left: 0px;}
}
#Sign_Up_Move{
  position: relative;
  animation: Sign_Up_Move 6s ;
  animation-delay: -1s;
  
}
@keyframes Sign_Up_Move {
  from {left: 480px;}
  to {left: 0px;}
}
.game_settings_form{
  height: 1900px;
  margin-left: 0px;
}

#game_settings_box{
/*margin-left: -100px;*/
/* text-align: left; */
margin-bottom: 10px;
}
#game_settings_box p{
 display: inline;
 margin-left:10px;
}
#game_settings_box >input{
  margin-top: -200px;
  margin-left: 300px;
 }
 #game_settings_box label{
  font-size: 13px;
  color: red;
  /*margin-right: -60px;*/
  margin-left: 10px;
  border: 1px solid rgb(159, 58, 58);
}

#canvas{
  background: black;
}
